 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    text-align: center;
    margin-top: 20px;
}
nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #555;
    color: #fff;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.bienvenida {
    text-align: center;
    margin: 20px 0;
}
.products-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.product {
    width: calc(33.33% - 20px);
    margin: 10px; v 
    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;7yjtedfvdcvvg
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.product img {
    max-width: 100%;
    height: auto;
}
